<html>

<head>
    <link type="text/css" rel="stylesheet" href="../css/main.css">
</head>

<body>
    <section class="entireWrap">
        <section class="userMenu">
            <div id="storageRemain">
                <svg width="100%" height="100%">
                    <rect x="0" y="70%" width="100%" height="30%" fill="#79FF48" fill-opacity="0.7"></rect>
                </svg>
            </div>
            <div class="userProfileContainer">
                <div class="middleImage" id="profileImage">
                    <img src="image.jpg" width="100%">
                </div>
                <p><span class="text" id="userName">IAMI</span></p>
                <p><span class="text" id="storageSize">0gb/1gb</span></p>
            </div>
            <hr/>
            <nav class="userNav">

            </nav>
        </section>
        <section class="dataMenu">
            <header class="titleBox"></header>
            <nav class="dataNav"></nav>
        </section>
    </section>
</body>

</html>