<html>

<head>
    <link type="text/css" rel="stylesheet" href="../css/main.css">
</head>

<body>
    <section class="wrap">
        <section class="userMenu">
            <div class="mediumPicture">
                <img id="profilePicture" />
            </div>
        </section>
        <section class="dataWrap">
            <section id="dataTop">
                <header class="statusBar">
                    <span class="title"></span>
                    <div id="menuButton"></div>
                </header>
                <div class="dataMenuBar">
                    <div id="sortMenu"></div>
                    <div id="searchMenu">
                        <input type="text">
                    </div>
                </div>
            </section>
            <section id="dataView">
                <ul>
                    <li>
                        <div class="dataMenuButton"></div>
                        <div class="mediumPicture dataThumbnail">
                            <img/>
                            <div class="mouseHoverLayer">
                                <!-- 보류 -->
                            </div>
                        </div>
                        <span class="dataTitle"></span>
                    </li>
                </ul>
            </section>
        </section>
    </section>

</body>

</html>